.sign-up-individual {
  background: url('../images/individual.svg') no-repeat;
  background-size: cover;
  width: 445px;
  height: 107px;
  border: none;
//  border: 4px solid $inverse-color;
//  border-radius: 0;
//  background: transparent;
}

.sign-up-startup {
  background: url('../images/startup.svg') no-repeat;
  background-size: cover;
  width: 445px;
  height: 107px;
  border: none;
}