.editable {
  position: relative;
  @include clearfix;
  .edit-post {
    position: absolute;
    top: 0;
    right: 0;

    a {
      font-size: $font-size-base;
      @extend .btn;
      @extend .btn-warning;
    }
  }
}