// Set up full-height splash page.
#hero {
  height: 100%;
  background: url('../images/tlv-picture.png') no-repeat;
  background-size: cover;
  position: relative;
}

.scroll-top {
  @include clearfix;
}

.scroll-top img {
  position: absolute;
  width: 7vw;
  bottom: -3.5vw;
  left: 0;
  right: 0;
  margin: auto;
  &:hover {
    cursor: pointer;
  }
}

// A temporary fix for lack of content.
.bridging {
  background: $brand-primary;
  color: $inverse-color;
  padding-top: rhythm(3);
  h2 {
    font-size: $font-size-h1;
    text-align: center;
  }
  article {
    @include make-sm-column(10);
    @include make-sm-column-offset(1);
  }
}

// Splash section
.hero {
  color: $inverse-color;
  font-size: $font-size-base * 2.2;
}

.hero .callout-box {
  background: transparentize($brand-primary, 0.2);
  text-align: center;
  padding: rhythm(2.5) rhythm(1.75);
}

.hero h1 {
  font-weight: bold;
}

.hero .sign-up-individual img,
.hero .sign-up-startup img {
//  background: transparent;
  height: 100px;
  width: 300px;
}
