// Set up full-height splash page.
#hero {
  height: 100%;
  background: url('../images/tlv-picture.png') no-repeat;
  background-size: cover;
  position: relative;
}

.scroll-top {
  @include clearfix;
}

.scroll-top img {
  position: absolute;
  width: 7vw;
  bottom: -3.5vw;
  left: 0;
  right: 0;
  margin: auto;
  &:hover {
    cursor: pointer;
  }
}

// A temporary fix for lack of content.
#bridging {
  height: 100%;
  background: pink;
}

// Splash section
.hero {
  color: $inverse-color;
  font-size: $font-size-base * 2.2;
}

.hero .callout-box {
  background: transparentize($brand-primary, 0.2);
  text-align: center;
  padding: rhythm(2.5) rhythm(1.75);
}
